<div>
    <button id="reset-game-button" (click)="resetGame()" class="button">
      Reset
    </button>
    <button id="set-beginner-difficulty-button"  (click)="setBeginnerDifficulty()" class="button">
      Beginner
    </button>
    <button  id="set-intermediate-difficulty-button" (click)="setIntermediateDifficulty()" class="button">
      Intermediate
    </button>
    <button  id="set-expert-difficulty-button" (click)="setExpertDifficulty()" class="button">
      Expert
    </button>
</div>